<a href="https://colab.research.google.com/github/tanmaybohra/Play-Store-App-Review-Analysis/blob/main/Playing_with_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
play_store = pd.read_csv('/content/drive/MyDrive/Copy of Play Store Data.csv')
user_reviews = pd.read_csv('/content/drive/MyDrive/Copy of User Reviews.csv')

In [4]:
play_store.shape

(10841, 13)

In [5]:
user_reviews.shape

(64295, 5)

In [6]:
play_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [8]:
play_store.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [10]:
play_store.head(5)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [11]:
play_store.tail(5)

                                                 App  ...         Android Ver
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[5 rows x 13 columns]

In [12]:
user_reviews.head(5)

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [13]:
user_reviews.tail(5)

                               App  ... Sentiment_Subjectivity
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[5 rows x 5 columns]

In [14]:
play_store.describe(include='all')

           App Category  ...         Current Ver Android Ver
count    10841    10841  ...               10833       10838
unique    9660       34  ...                2832          33
top     ROBLOX   FAMILY  ...  Varies with device  4.1 and up
freq         9     1972  ...                1459        2451
mean       NaN      NaN  ...                 NaN         NaN
std        NaN      NaN  ...                 NaN         NaN
min        NaN      NaN  ...                 NaN         NaN
25%        NaN      NaN  ...                 NaN         NaN
50%        NaN      NaN  ...                 NaN         NaN
75%        NaN      NaN  ...                 NaN         NaN
max        NaN      NaN  ...                 NaN         NaN

[11 rows x 13 columns]

In [15]:
user_reviews.describe(include='all')

                                                      App  ... Sentiment_Subjectivity
count                                               64295  ...           37432.000000
unique                                               1074  ...                    NaN
top     CBS Sports App - Scores, News, Stats & Watch Live  ...                    NaN
freq                                                  320  ...                    NaN
mean                                                  NaN  ...               0.492704
std                                                   NaN  ...               0.259949
min                                                   NaN  ...               0.000000
25%                                                   NaN  ...               0.357143
50%                                                   NaN  ...               0.514286
75%                                                   NaN  ...               0.650000
max                                                   NaN  ...               1.000000

[11 rows x 5 columns]

In [16]:
play_store.isnull()

         App  Category  Rating  ...  Last Updated  Current Ver  Android Ver
0      False     False   False  ...         False        False        False
1      False     False   False  ...         False        False        False
2      False     False   False  ...         False        False        False
3      False     False   False  ...         False        False        False
4      False     False   False  ...         False        False        False
...      ...       ...     ...  ...           ...          ...          ...
10836  False     False   False  ...         False        False        False
10837  False     False   False  ...         False        False        False
10838  False     False    True  ...         False        False        False
10839  False     False   False  ...         False        False        False
10840  False     False   False  ...         False        False        False

[10841 rows x 13 columns]

In [17]:
play_store.isnull().any()

App               False
Category          False
Rating             True
Reviews           False
Size              False
Installs          False
Type               True
Price             False
Content Rating     True
Genres            False
Last Updated      False
Current Ver        True
Android Ver        True
dtype: bool

In [19]:
user_reviews.isnull()

         App  Translated_Review  ...  Sentiment_Polarity  Sentiment_Subjectivity
0      False              False  ...               False                   False
1      False              False  ...               False                   False
2      False               True  ...                True                    True
3      False              False  ...               False                   False
4      False              False  ...               False                   False
...      ...                ...  ...                 ...                     ...
64290  False               True  ...                True                    True
64291  False               True  ...                True                    True
64292  False               True  ...                True                    True
64293  False               True  ...                True                    True
64294  False               True  ...                True                    True

[64295 rows x 5 columns]

In [21]:
user_reviews.isnull().any()

App                       False
Translated_Review          True
Sentiment                  True
Sentiment_Polarity         True
Sentiment_Subjectivity     True
dtype: bool